body {
	background : #ff0000;
}
h1{color: #ffffff ;
font-size:50px;
background :
text-align: right;
background-image:url(Logo_eic.png);
background-repeat:no-repeat;
background-position: right;
}
h2 { color : #ffffff ;
font-size: 30px;
}
h3 { color : #ffffff ;
}
p {
	color : #ff0000 ;
	background : #ffffff;
	border : #0000aa solid 1px;
	font-size : 18px;
}
ul{ color : #ffffff;
font-size : 18px;
}
img {
	width : 500px;
	height : 300px;
}
